.authWarraperLogin {
  display: flex;
  background-color: #d9d9d9;
  border-radius: 50px;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  width: 27.5vw;
  height: 69vh;
  margin: auto;
  padding: 10px 0;
}

.loginLabelLogin {
  /* margin-top: 1rem; */
  font-size: 2.25rem;
}
.textsFieldsLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
}

.authActionsLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: inherit;
}

.linkToSignup {
  color: #6b8dc0;
  font-size: 0.8rem;
}
