

.tablesManageUsers {
  height: 80vh;
}

.ManageUserPage h1 {
  font-size: clamp(2rem, 2rem + 1.5vw, 5rem);
  color: white;
  margin: 0;
  margin-bottom: 0;
}

.ManageUserPage h3 {
  font-size: clamp(0.2rem, 0.2rem + 1.5vw, 5rem);
  color: white;
  margin-bottom: 0;
  padding-bottom: 0;
}

@media (max-width: 1200px) {
  .tablesManageUsers {
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    direction: ltr;
  
  }
  .existUsersTable {
    margin-right: 2vw;
  }  .waitingForBeingApprovedUsersTable {
    margin-right: 2vw;
  }
  

  
}
