.square {
  width: 4.75rem;
  height: 2vh;
  background-color: #668bc2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.text {
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.3vh;
}
