.authWarraperLogin {
  display: flex;
  background-color: #d9d9d9;
  border-radius: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 25rem;
  height: 30rem;

  margin: auto;
}

.loginLabelLogin {
  margin-top: 1rem;
  font-size: 2.4rem;
}
.textsFieldsLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.authActionsLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
}

.linkToSignup {
  color: #6b8dc0;
  margin-bottom: 8px;
  font-size: 0.8rem;
}
