.authWarraper {
  display: flex;
  position: relative;
  background-color: #d9d9d9;
  border-radius: 50px;
  flex-direction: column;
  align-items: center;
  width: 25vw;
  height: 67vh;
  margin: auto;
}

.loginLabel {
  display: inline-block;
  margin-top: 1rem;
  font-size: 2.4rem;
}
.textsFields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
  width: 80%;
  height: 80%;
}

.authActions {
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
}

.linkToSignup {
  color: #6b8dc0;
  margin-bottom: 15px;
  font-size: 24;
}
