.rounded-button {
  height: 2.3rem;
  border-radius: 10px;
  background-color: #3069be; /* Green background color */
  color: white; /* White text color */
  border: none; /* Remove border */
  text-align: center; /* Center text */
  font-size: 1rem; /* Set font size */
  cursor: pointer; /* Add a pointer cursor on hover */
  border-radius: 5000px;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
}

.rounded-button:hover {
  background-color: #195dc4;
}

.rounded-button:active {
  background-color: #05419c;
}

p {
  font-size: 0.7rem;
}
