.textAbout404 {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.paragraph404 {
  text-align: center;
  justify-content: center;
  font-size: clamp(0.5rem, 0.5rem + 1.2vw, 5rem);
}

.secondParagraph404 {
  text-align: center;
  justify-content: center;
  font-size: clamp(0.5rem, 0.5rem + 1.2vw, 4rem);
}
