.rounded-button {
  width: 14vw;
  height: 2vw;
  font-size: clamp(0.3rem, 0.3rem + 0.7vw, 1.5rem);
  border-radius: 10px;
  background-color: #3069be;
  color: white;
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: 5000px;
  align-items: center;
  justify-content: center;
}

.rounded-button:hover {
  background-color: #195dc4;
}

.rounded-button:active {
  background-color: #05419c;
}

p {
  font-size: 0.7rem;
}
