.red-background {
  background-color: #FC4A4A;
  color: white;
}

.green-background {
  background-color: #4dcf75;
  color: white;
}

.orange-background {
  background-color: #FCBD4A;
  color: black;
}

.roundedButton {
    width: 6rem;
    height: 1.8rem;
    border-radius: 10px;
    background-color: #3069be;
    color: white;
    border: none;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5000px;
    align-items: center;
    justify-content: center;
    line-height: 1.5rem;
}
