.authWarraperSignup {
    display: flex;
    background-color: #D9D9D9;
    border-radius: 50px;
    flex-direction: column;
    align-items: center;
    width: 27.5vw;
    height: 69vh;
    margin: auto;
    padding: 10px 0;
}

.SignupLabel {
    /* display: inline-block;
    margin-top: 1rem; */
    font-size: 2.25rem;
}
.textsFieldsSignup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
}

.authActionsSignup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
}


.linkToLogin {
    color: #6b8dc0;
    font-size: 0.8rem;
}