.app h1 {
  font-size: clamp(1rem, 1rem + 1.2vw, 5rem);
  width: 65vw;
  text-align: center;
}

.red-background {
  background-color: #fc4a4a;
  color: white;
}

.green-background {
  background-color: #4dcf75;
  color: white;
}

.orange-background {
  background-color: #fcbd4a;
  color: black;
}

.CancelCrossInformation {
  display: flex;
  width: 5vw;
  height: 1.5vw;
  font-size: clamp(0.3rem, 0.3rem + 0.75vw, 1.5rem);
  border-radius: 10px;
  color: white;
  background-color: #f94a4a;
  border: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5000px;
}

.CancelCrossInformation:hover {
  background-color: #fd3535;
}

.CancelCrossInformation:active {
  background-color: #ff1313;
}
